.container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.column {
    width: 23%; /* Tamanho original da coluna */
    min-height: 300px; /* Altura mínima da coluna */
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px; /* Ajuste para um padding menor */
    margin-bottom: 10px;
    cursor: move;
    font-size: 0.9em; /* Tamanho de fonte ajustado */
    display: flex; /* Flexbox para alinhar imagem e texto */
    flex-direction: column; /* Muda a direção para coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
    transition: background-color 0.5s; /* Adiciona uma transição suave */
}

.card img {
    width: 50px; /* Diminuído para imagem menor */
    height: auto;
    margin: 5px 0; /* Espaçamento acima e abaixo da imagem */
}

.card p {
    margin: 2px 0; /* Espaçamento reduzido entre os parágrafos */
}

.card button {
    margin-top: 5px; /* Margem acima dos botões */
    font-size: 0.8em; /* Tamanho de fonte do botão reduzido */
}

.drop-above::before,
.drop-below::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #007bff;
    left: 0;
    z-index: 1;
}

.drop-above::before {
    top: 0;
}

.drop-below::before {
    bottom: 0;
}
